.friend {
    color: red;
    text-align: center;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form h1{
    margin-bottom: 50px;
}

.form input {
    width: 40%;
    /* margin: 5px 0; */
    padding: 10px 10px;
    background: #f0f0f0;
    border: none;
    border-radius: 8px;
}

.form .form-btn {
    background: #026299;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
}

.form .form-btn:hover {
    background: #2289c5;
}
.form .error{
    color: red;
}